@font-face {
  font-family: "Sega";
  src: url("fonts/SEGA.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-heading {
  font-family: "Sega", sans-serif;
  color: white;
}

.card:hover {
  background-color: cadetblue;
}

.smyk-654{
  /* background-color: white; */
  transform: scale(1.4);
}
