@font-face {
  font-family: "Sega";
  src: url("./assets/fonts/SEGA.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.explore-btn :hover {
  background-color: #EB8317;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@font-face {
  font-family: "BlueSpirits";
  src: url("./assets/fonts/Blue Spirits.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-heading {
  font-family: "Sega", sans-serif;
  color: white;
}

.card:hover {
  background-color: cadetblue;
}

.smyk-654 {
  /* background-color: white; */
  transform: scale(1.4);
}
